# Node.js
node_modules/
.env
.DS_Store
logs/
*.log
npm-debug.log*

# React (build files)
frontend/build/
frontend/node_modules/

# Vercel local files
.vercel/

# OS and Editor files
*.swp
*.swo
.idea/
.vscode/
*.bak
*.tmp
Thumbs.db
